.container-fluid .row{
	background: white;
}
.container-fluid .row #Menu-item{
	margin-left: 10%;
}
.container-fluid .row #Menu-item ul li{
	margin-left: 4rem;
	width: 100px;
	text-align: center;
}
.container-fluid .row #Menu-item ul li a{
	color: white;
}
.container-fluid .row #Menu-item ul li:hover{
	background: orange;
	border-radius: 10px;
}
.img-thumbnail{
	border: 2px solid yellow!important;
}
.btn{
	border-radius: 50px 100px 0px 50px;
}
.container-fluid .card img {
	height: 300px;
}
.btn{
	border-radius: 50px 100px 0px 50px;
	margin-left: 100px;
}